html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1 {
  margin: 0;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-height: 15%;
}
/* for small screens make Header text much smaller, depending on width of the screen 
*/
.primaryMenu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
/* for small screens like tablets keep them horizontal but increase width, for phones, stack them vertically */
.primaryMenu > * {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #bf1a2f;
  font-size: 18px;
  padding: 4px;
}

.primaryMenu > *:hover {
  color: white;
  background-color: #bf1a2f;
}
.mainText {
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
  border-bottom: 2px solid #bf1a2f;
  padding: 0.5em;
}
.mainText:hover {
  color: white;
  background-color: #bf1a2f;
  border-radius: 0.5em;
}
.body {
  height: 300px;
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
  border-radius: 1rem;
}
.home {
}
.home > * {
  width: 30%;
  display: block;
  margin: 1rem auto;
}
.button {
  background-color: transparent;
  padding: 0;
  color: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 2px transparent;
  border-radius: 0.5em;
  color: #ffff;
  padding: 0.5em 1em;
  background-color: #3b429f;
  max-width: 15em;
}

.button:hover {
  background-color: #ffff;
  color: #3b429f;
  border: 2px solid #3b429f;
}
input[type="text"] {
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid #3b429f;
  font-family: inherit;
}
select {
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid #3b429f;
  font-family: inherit;
}
input:focus,
select:focus {
  outline: none;
}
.speakersDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around; /* or between */
}
.speakerDiv {
  flex-basis: auto;
  width: 20%;
  height: 40%;
  border: 2px solid red;
}
