html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1 {
  margin: 0;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-height: 15%;
}
/* for small screens make Header text much smaller, depending on width of the screen 
*/
.App {
  height: 100vh;
}
.primaryMenu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
/* for small screens like tablets keep them horizontal but increase width, for phones, stack them vertically */
.primaryMenu > * {
  text-decoration: none;
  border-bottom: 2px solid #bf1a2f;
  font-size: 18px;
  padding: 4px;
}

.primaryMenu > *:hover {
  color: white;
  background-color: #bf1a2f;
}
.mainText {
  text-decoration: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #bf1a2f;
  padding: 0.5em;
  color: black;
}
.mainText:hover {
  color: white;
  background-color: #bf1a2f;
  border-radius: 0.5em;
}
.body {
  height: 300px;
  max-width: 80%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
  border-radius: 1rem;
}
/* make switch between the two body classes*/
.home {
}
.home > * {
  width: 30%;
  display: block;
  margin: 1rem auto;
}
.button {
  background-color: transparent;
  padding: 0;
  color: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 2px transparent;
  border-radius: 0.5em;
  color: #ffff;
  padding: 0.5em 1em;
  background-color: #3b429f;
  max-width: 15em;
}

.button:hover {
  background-color: #ffff;
  color: #3b429f;
  border: 2px solid #3b429f;
}
input[type="text"] {
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid #3b429f;
  font-family: inherit;
}
select {
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid #3b429f;
  font-family: inherit;
}
input:focus,
select:focus {
  outline: none;
}
.newBody {
  width: 100%;
  height: 800px;
  border: 2px solid red;
}
/* heights will need to be adjusted when it's a small screen */
.speakersContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around; /* or between */
  height: 100%;
  border: 2px solid red;
}
.speaker {
  flex-basis: auto;
  width: 21%;
  height: 45%;
  background-color: #777ee7;
  color: white;
  border-radius: 1em;
}
.head-and-img {
  height: 60%;
  width: 100%;
  text-align: center;
}
.head-and-img > img {
  object-fit: cover;
  width: 50%;
  height: 60%;
}
.head-and-img > h1 {
  font-size: 20px;
}
/* I will probably need to reduce H1 font size on smaller screens, so maybe use em to set the width and height.*/
