.top {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-height: 15%;
}
.top > * {
  margin: 1rem;
}
/* for small screens make Header text much smaller, depending on width of the screen 
*/
